name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: 3.12

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pylint pytest

    - name: Lint Python code
      run: |
        pylint app.py

    - name: Lint dockerfile
      run: |
        docker run --rm -i hadolint/hadolint < Dockerfile

    - name: Build Docker image
      run: |
        docker build -t ip-checker:test .
